/* cats page */
.adopt-img-wrapper{
  max-width: 1700px;
  margin: auto;
}
.cat-adopt-grid{
    // display: grid;
    // grid-template-columns: 33.33% 33.33% 33.33%;
    // grid-gap: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    @include for-size(tablet-only){
      display: flex;
      flex-direction: column;
    }
}
.trap{
  padding-top: 20px;
}
.trapping-links{
  @include for-size(Desktop){
    padding-left: 15px;
  }
  @include for-size(small-desktop){
    padding-left: 10px;
  }
  ul{
    list-style: none;
    text-align: center;
    li{
      font-size: 1.75rem;
      @include for-size(phone-only){
        font-size: 1.5rem;
      }
    }
  }
}
.item{
  max-width: 100%;
  height: auto;
  cursor: pointer;
  img{
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: 1.2rem;
    &:hover{
      opacity: .7;
    }
  }
}

.detail {
    position: relative;
    top: 50vh;
    left: 50%;
    width: 90.1vmin;
    cursor: pointer;
    font-size: 0;
    display: none;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
  }
  
  .detail > img {
    position: relative;
    z-index: 1;
  }
  
  .detail .flip {
    background: rgba(6,4,45,1);
    padding: 2rem 1.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
  }
  .detail .flip > * {
    margin-bottom: 1rem;
  }
  
  .detail .title {
    @include form-h2;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .detail .secondary {
    @include form-p;
    color: lightgray;
    text-align: center;
    text-transform: uppercase;
  }
  
  .detail .description {
    @include form-p;
    line-height: 1.5;
  }