/* contact page */
.button-wrapper{
    @include for-size(tablet-only){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.social-button{
    width: 20%;
    margin: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: solid $primary-color 1px;
    box-shadow: $drop-shadow;
    background-color: $secondary-color;
    color: #fff;
    .fa-brands{
        font-size: 2rem;
    }
    &:hover{
        background-color: blue;
    }
    @include for-size(tablet-only){
        width: 40%;
    }
}

.form-wrapper{
    margin: 0 auto 20px auto;
    height: 100%;
    width: 100%;
}
.contact-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    max-width: 1400px;
    margin: auto;
    background-color: $secondary-color;
    border-radius: 5px;
    box-shadow: 0px 0px 6px $secondary-color;
    margin: 15px auto;
    margin-bottom: 15px;
    h2{
        @include form-h2;
    }
    p{
        @include form-p;
    }
}
.name-form,.email-form, .subject-form{
    width: 50%;
    position: relative;
    height: 40px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0px 0px 2px $secondary-color;
    input{
        width: 100%;
        height: 100%;
        padding-top: 20px;
        padding-left: 3px;
        border: none;
        outline: none;
        font-size: 1.3rem;
    }
    label{
        position: absolute;
        bottom: 0px;
        left: 0%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid $headline-colors;
        color: $headline-colors;
        transform: all 0.2s ease;
        &:after{
            content:"";
            position: absolute;
            height: 100%;
            width: 100%;
            border-bottom: 3px solid $contact-animation;
            left: 0px;
            bottom: -1px;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }
    }
    @include for-size(tablet-only){
        width: 70%;
    }
    @include for-size(phone-only){
        width: 100%;
    }
}
.text-form{
    width: 50%;
    height: 250px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px #fff;
    margin: 10px;
    textarea{
        width:100%;
        height:100%;
        resize: none;
        border: none;
        outline: none;
    }
    label{
        position: absolute;
        top: -90%;
        left: 0%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        color:$headline-colors;
        transform: all 0.2s ease;
        &:before{
            content: "";
            border-bottom: 2px solid $headline-colors;
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: -90%;
        }
        &:after{
            content:"";
            position: absolute;
            height: 100%;
            width: 100%;
            border-bottom: 3px solid $contact-animation;
            left: 0px;
            bottom: -90%;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }
    }
    @include for-size(tablet-only){
        width: 70%;
    }
    @include for-size(phone-only){
        width: 100%;
    }
}
.email-form, .subject-form{ 
    label{
        bottom: 5px;
    }
}
.content-name, .contact-email, .contact-subject{
    position: absolute;
    bottom: 5px;
    padding-left: 10px;
    transform: all 0.3s ease;
}
.contact-checkbox-wrapper{
    position: relative;
    height: 60px;
    width: 60px;
    margin: auto;
}
.contact-check{
    opacity: 0;
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: 2;
    text-align: center;
    & + label{
        background: url('../images/checkboxs/unchecked.svg') no-repeat;
        height: 60px;
        width: 60px;
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
    &:checked + label{
        background: url('../images/checkboxs/checked.svg') no-repeat;
        height: 60px;
        width: 60px;
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
    label{
        position: absolute;
        top: 0px;
    }
}
.info-text{
    @include form-p;
}
/* contact page animation */
.name-form input:focus + .label-name .content-name, .name-form input:valid + .label-name .content-name{
    transform: translateY(-75%);
    padding-left: 0px;
    color: rgba(127, 127, 127, .5);
}
.name-form input:focus + .label-name::after, .name-form input:valid + .label-name::after{
    transform: translateX(0%);
}
.email-form input:focus + .label-name .content-name, .email-form input:not(:placeholder-shown) + .label-name .content-name{
    transform: translateY(-55%);
    padding-left: 0px;
    color: rgba(127, 127, 127, .5);
}
.email-form input:focus + .label-name::after, .email-form input:not(:placeholder-shown) + .label-name::after{
    transform: translateX(0%);
}
.subject-form input:focus + .label-name .content-name, .subject-form input:valid + .label-name .content-name{
    transform: translateY(-55%);
    padding-left: 0px;
    color: rgba(127, 127, 127, .5);
}
.subject-form input:focus + .label-name::after, .subject-form input:valid + .label-name::after{
    transform: translateX(0%);
}
.text-form textarea:focus + .label-name .content-name, .text-form textarea:valid + .label-name .content-name{
    transform: translateY(1100%);
    color: rgba(127, 127, 127, .2);
}
.text-form textarea:focus + .label-name::after, .text-form textarea:valid + .label-name::after{
    transform: translateX(0%);
}
.contact-form-button{
    width: 20%;
    font-size: 2rem;
    box-shadow: $drop-shadow;
    background-color: $button-color;
    color: #fff;
    border-radius: 10px;
    border: solid .5px $primary-color;
    &:hover{
        background-color: #FFAAEA;
    }
    @include for-size(tablet-only){
        width: 20%
    }

}
