/* Images */
/* hero image */
.hero{
    opacity: 0;
    animation: heroimg 400ms ease-in;
    animation-delay: $navbar-timing;
    animation-fill-mode: forwards;
}
.index-img-1{
    background-image: url("../images/index/index_hero_large.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include hero-img;
    @include for-size(tablet-only){
        background-image: url("../images/index/index_hero_tablet.webp");
        background-position: 75% 30%;
        min-height: 650px;
    }
    @include for-size(phone-only){
        background-image: url("../images/index/index_hero_phone.webp");
        min-height: 450px;
    }
}
.index-img-2{
    background-image: url("../images/index/Boo_large.webp");
    min-height: 600px;
    @include parallax;
    position: relative;
    .hero-text{
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    q{
        font-size: 3rem;
    }
    h1{
        font-size: 3rem;
    }
    @include for-size(small-desktop){
        background-image: url("../images/index/Boo_large.webp");
        min-height: 500px;
        background-position: 40%;
    }
    @include for-size(tablet-only){
        background-image: url("../images/index/Boo_tablet.webp");
        background-position: 50%;
    }
    @include for-size(phone-only){
        background-image: url("../images/index/Boo_phone.webp");
        min-height: 500px;
        background-position: 65.5%;
    }
}
.index-img-3{
    background-image: url("../images/index/sanctuary_index_large.webp");
    min-height: 600px;
    @include parallax;
    @include for-size(small-desktop){
        min-height: 500px;
        background-position: 50%;
        background-image: url("../images/index/sanctuary_index_tablet.webp");
    }
    @include for-size(tablet-only){
        min-height: 400px;
        background-position: 50%;
        background-image: url("../images/index/sanctuary_index_phone.webp");
    }
}

/* index page */
.spay-neuter-img{
    width: 100%;
    height: 500px;
    background-image: url('../images/index/spay.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 15px;
    @include for-size(small-desktop){
        margin-top:15%;
    }
    @include for-size(tablet-only){
        margin-top: 0px;
    }
}
.sanctuary-img{
    width: 100%;
    min-height: 500px;
    background-image: url('../images/index_sanctuary.webp');
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.adopt-img{
    width: 100%;
    height: 500px;
    background-image: url('../images/index/adopt_1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cats-img{
    width: auto;
    height: 500px;
    background-image: url('../images/index/cats.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* contact page */
.contact-header{
    background-image: url(../images/contact_page.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 28%;
    @include hero-img;
    @include for-size(tablet-only){
        bottom: 8.5%;
        background-position: 75% 30%;
        min-height: 650px;
    }
    @include for-size(phone-only){
        min-height: 450px;
    }
}

/* cats page */
.cats-hero{
    background-image: url(../images/cats/cats_hero_large.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    @include hero-img;
    @include for-size(tablet-only){
        min-height: 650px;
        background-image: url(../images/cats/cats_hero_tablet.webp);
    }
    @include for-size(phone-only){
        background-image: url(../images/cats/cats_hero_phone.webp);
        min-height: 450px;
    }
}
.trap-img{
    width: 100%;
    height: 350px;
    background-image: url('../images/about/trap.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 40px;
}
/* about page */
.about-hero{
    background-image: url(../images/about/about_hero.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 45%;
    @include hero-img;
    @include for-size(tablet-only){
        min-height: 650px;
        background-position: 40% 45%;
    }
    @include for-size(phone-only){
        min-height: 450px;
    }
}
.about-img-1{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ,url('../images/about/big-move-large.webp');
    min-height: 600px;
    @include parallax;
    position: relative;
}

.about-img-2{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/about/about_cats_large.webp');
    min-height: 600px;
    @include parallax;
    background-position: 0% 10%;
    position: relative;
    @include for-size(small-desktop){
        background-position: 60%;
    }
    @include for-size(tablet-only){
        background-position: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/about/about_cats_tablet.webp');
    }
    @include for-size(phone-only){
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/about/about_cats_phone.webp');
    }
}
/* volunteer page */
.volunteer-header{
    width: 100%;
    background-image: url('../images/volunteer_pictures/hero_test.webp');
    background-position: left 25%;
    background-repeat: no-repeat;
    background-size: cover;
    @include hero-img;
    @include for-size(small-desktop){
        background-position: right;
    }
    @include for-size(tablet-only){
        min-height: 650px;
    }
    @include for-size(phone-only){
        min-height: 450px;
    }
}

.chewy-logo{
    width: 100px;
}

/* thank you page */
.thanks-img{
    margin: auto;
    max-width: 80%;
    height: auto;
}