/* Images */
/* hero image */
.hero{
    opacity: 0;
    animation: heroimg 400ms ease-in;
    animation-delay: $navbar-timing;
    animation-fill-mode: forwards;
}
.index-img-1{
    background-image: url("../images/parallax/index_hero.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include hero-img;
    @include for-size(tablet-only){
        bottom: 8.5%;
        background-position: 75% 30%;
        min-height: 650px;
    }
    @include for-size(phone-only){
        min-height: 450px;
    }
}
.index-img-2{
    background-image: url("../images/parallax/Boo_large.webp");
    min-height: 600px;
    @include parallax;
    position: relative;
    .hero-text{
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    q{
        font-size: 3rem;
    }
    h1{
        font-size: 3rem;
    }
}
.index-img-3{
    background-image: url("../images/parallax/sanctuary_index.webp");
    min-height: 600px;
    @include parallax;
}

/* index page */
.spay-neuter-img{
    width: 100%;
    height: 300px;
    background-image: url('../images/spay.webp');
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 15px;
}
.sanctuary-img{
    width: 100%;
    min-height: 500px;
    background-image: url('../images/index_sanctuary.webp');
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.adopt-img{
    width: 100%;
    height: 300px;
    background-image: url('../images/adopt_1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cats-img{
    width: 100%;
    height: auto;
    background-image: url('../images/index/cats.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* contact page */
.contact-header{
    background-image: url(../images/contact_page.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 28%;
    @include hero-img;
    @include for-size(tablet-only){
        bottom: 8.5%;
        background-position: 75% 30%;
        min-height: 650px;
    }
    @include for-size(phone-only){
        min-height: 450px;
    }
}

/* cats page */
.cats-hero{
    background-image: url(../images/cats_hero.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 38%;
    @include hero-img;
    @include for-size(tablet-only){
        min-height: 650px;
    }
    @include for-size(phone-only){
        min-height: 450px;
    }
}
/* volunteer page */
.volunteer-header{
    width: 100%;
    background-image: url('../images/volunteer_pictures/hero_test.webp');
    background-position: left 25%;
    background-repeat: no-repeat;
    background-size: cover;
    @include hero-img;
    @include for-size(tablet-only){
        min-height: 650px;
    }
    @include for-size(phone-only){
        min-height: 450px;
    }
}

.chewy-logo{
    width: 100px;
}