/* index page */
/* links under hero */
.quick-links{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-items: center;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 75px;
    text-align: center;
    a{
        text-decoration: none;
    }
    h1{
        font-size: 2.9rem;
        color: $headline-colors;
    }
    p{
        color: $headline-colors;
    }
    @include for-size(tablet-only){
        height: 50px;
        h1{
            font-size: 1.4rem;
        }
    }
    @include for-size(phone-only){
        h1{
            font-size: 1rem;
        }
    }
}
#index-content-1{
    .index-grid{
        margin-top: 15px;
        padding-top: 10px;
    }
}
.volunteer{
    background-color: $secondary-color;
    width: 100%;
    height: 100%;
    padding: 10px;
    transform: translateY(-100%);
    opacity: 0;
    animation: aboutquick $navbar-timing  $navbar-timing forwards;
    &:hover{
        h1{
            color:$button-color;
        }
        p{
            color: $button-color;
        }
    }
}
.cats{
    background-color: $primary-color;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    text-align: center;
    padding: 10px;
    animation: catsquick $navbar-timing  $navbar-timing forwards;
    &:hover{
        h1{
            color:$secondary-color;
        }
        p{
            color: $secondary-color;
        }
    }
}
.about{
    background-color: $primary-color;
    width: 100%;
    height: 100%;
    padding: 10px;
    transform: translateX(100%);
    animation: volunteersquick $navbar-timing  $navbar-timing forwards;
    &:hover{
        h1{
            color:$secondary-color;
        }
        p{
            color: $secondary-color;
        }
    }
}

.index-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    h2{
        @include form-h2;
        font-size: 3rem;
        span{
            font-size: 3rem;
            font-family: $headline-font;
        }
    }
    p{
        @include form-p;
        padding: 10px;
        font-size: 1.7rem;
    }
    a{
        @include form-p;
        color: $headline-colors
    }
    @include for-size(tablet-only){
        display: flex;
        flex-direction: column;
        .counter{
            font-size: 2.25rem;
        }
        h2{
            font-size: 2.25rem;
        }
        p{
            font-size: 1.5rem;
        }
        a{
            font-size: inherit;
        }
    }
    @include for-size(phone-only){
        .counter{
            font-size: 1.75rem;
        }
        h2{
            font-size: 1.75rem;
        }
        p{
            font-size: 1rem;
        }
        a{
            font-size: in
        }
    }
}

/* bottom news */
#section-3{
    width: 100%;
    h1{
        text-align: center;
    }
}
.news-left{
    width: 100%;
}
.news-right{
    width: 100%;
}
.news-slideshow{
    width: 300px;
    position: relative;
    margin: auto;
}
.news-slide{
    display: None;
    text-align: center;
    width: 300px;
    margin: auto;
    span{
        @include form-p;
    }
    
}
.prev, .next{
    color: $primary-color;
    font-size: 30px;
    position: absolute;
    top: 35%;
    cursor: pointer;
    &:hover{
        color: $button-color;
        transform: scale(1.5);
    }
}
.prev{
    left:5%;
}
.next{
    left: 90%;
}