/*index page */
.content {
    align-self: center;
    max-width: 2000px;
    padding: 15px;
    h1{
        font-size: 3.5rem;
    }
    h2{
        @include form-h2;
    } 
    p{
        @include form-p;
    } 
}

/* links under hero */
.quick-links{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-items: center;
    width: 100vw;
    height: 100px;
    position: relative;
    bottom: 7%;
    text-align: center;
    a{
        text-decoration: none;
    }
    h1{
        font-size: 2.9rem;
        color: #000;
    }
    p{
        color: #000;
    }
}

.about{
    background-color: $secondary-color;
    width: 100%;
    height: 100%;
    padding: 10px;
    &:hover{
        h1{
            color:$button-color;
        }
        p{
            color: $button-color;
        }
    }
}
.cats{
    background-color: $primary-color;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    &:hover{
        h1{
            color:$secondary-color;
        }
        p{
            color: $secondary-color;
        }
    }
}
.volunteer{
    background-color: $primary-color;
    width: 100%;
    height: 100%;
    padding: 10px;
    &:hover{
        h1{
            color:$secondary-color;
        }
        p{
            color: $secondary-color;
        }
    }
}

.index-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    h2{
        @include form-h2;
        font-size: 3rem;
        span{
            font-size: 4rem;
            font-family: $headline-font;
        }
    }
    p{
        @include form-p;
        padding: 10px;
        font-size: 1.7rem;
    }
}
.spay-content{
    width: 100%;
}

/* bottom news */
#section-3{
    width: 100%;
    h1{
        text-align: center;
    }
}
.news-left{
    width: 100%;
}
.news-right{
    width: 100%;
}
.news-slideshow{
    width: 50%;
    position: relative;
    margin: auto;
}
.news-slide{
    display: None;
    text-align: center;
    width: 100%;
    margin: auto;
}
.prev, .next{
    color: $primary-color;
    font-size: 30px;
    position: absolute;
    top: 50%;
    cursor: pointer;

}
.next{
    left: 100%;
    transform: translateX(50px);
}