/* Media Queries */
    /* Mobile Devices */
    @media only screen and (max-width: 720px){
        /* index page */
        .index-img-1{
            bottom: 8.5%;
            background-position: 75% 30%;
        }
        .quick-links{
            bottom: 9%;
            height: 150px;
            h1{
                font-size: 2.4rem;
            }
        }
        /* contact page */
        .center{
            width: 80vw;
        }
        .button-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .social-button{
            width: 40%;
        }
        .name-form,.email-form, .subject-form, .text-form{
            width: 100%;
        }
        .contact-form-button{
            width: 80%;
        }
        /* footer */
        footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: auto;
        }
        .fa-brands{
            font-size: 2rem;
        }
        .newsletter-box{
            width: 100%;
        }
        .newsletter-button{
            width: 100%;
        }
        /* Mobile navigation */
        .navbar .nav{
            display: flex;
            flex-direction: column;
            position: fixed;
            justify-content: start;
            top: 75px;
            width: 100%;
            height: calc(100vh - 75px);
            transform: translate(-101%);
            text-align: center;
            overflow: hidden;
        }
        .navbar .nav-item{
            padding: 15px;
            &:first-child{
                margin-top: 50px;
            }
            a{
                font-size: 1.5rem;
            }
        }
        .hamburger, .bar{
            display: block;
            cursor: pointer;
        }
    
        .mobile-nav{
            transform: translate(0%)!important;
            background-color: #ffbeef;
            z-index: 100;
        }
        /* volunteer page */
        .volunteer-header{
            background-position: right;
        }
        .volunteer-header-text{
            text-align: center;
            position: relative;
            top: 80%;
            left: 50%;
            transform: translateX(-50%);
            color: $headline-colors;
            h1{
                font-family: $headline-font;
                font-size: 2rem;
            }
            span{
                font-family: $headline-font;
                font-size: 2rem;
            }
        }
        .jobs{
            p{
                font-size: .9rem;
                color: red;
            }
            img{
                width: 100px;
                height: 100px;
            }
        }
        
    }
    