/* navigation */
.navbar{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 75px;
    overflow: hidden;
    background-color: hsla(209, 78%, 23%, .7);
    box-shadow: 0px 0px 10px #0f0f0f;
    z-index: 1000;
    position: relative;
    animation: navbarload $navbar-timing ease-in;
}
.navbar img{
    height: 55px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
    transform: translateX(-120%);
    animation: logoanimate $navbar-timing;
    animation-delay: $navbar-timing;
    animation-fill-mode: forwards;
}
.navbar .nav{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    justify-self: end;
    transition: .7s ease-in-out;
    z-index: 1000;
    .nav-item{
        transform: scale(0);
        animation: navitemgrow $navbar-timing;
        animation-delay: $navbar-timing + ($navbar-timing/2);
        animation-fill-mode: forwards;
        &:nth-child(5){
            padding-right: 15px;
            margin-right: 10px;
        }
    }
    @include for-size(tablet-only){
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 75px;
        width: 100vw;
        // height: calc(100% - 105px);
        height: 100%;
        transform: translate(-100%);
        text-align: center;
        overflow-x: scroll;
        .nav-item{
            padding: 15px;
            &:first-child{
                margin-top: 50px;
            }
            a{
                font-size: 1.5rem;
            }
        }
    }
}
.navbar .nav a{
    color: $headline-colors;
    font-size: 1.8rem;
    text-decoration: none;
    transition: color 0.3s ease-out;
    &:hover{
        color:$primary-color;
    }
}
.navbar .nav .active{
    color: $button-color;
}
.sticky{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
    .navbar{
        background-color: hsla(209, 78%, 23%, 1);
    }
    .mobile-nav{
        background-color: hsla(209, 78%, 23%, 1);
    }
}
.hamburger{
    justify-self: end;
    margin-right: 25px;
    display: none;
    &:hover{
        cursor: pointer;
    }
    .bar{
        width:25px;
        height: 3px;
        background-color: $primary-color;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }

}
.hamburger, .bar{
    @include for-size(tablet-only){
        display: block;
        cursor: pointer;
    }
}
.mobile-nav{
    @include for-size(tablet-only){
        transform: translate(-0%)!important;
        background-color: hsla(209, 78%, 23%, .7);
        z-index: 100;
    }
}
/* footer */
footer{
    min-height: 220px;
    background-color: $secondary-color;
    .copy{
        text-align: center;
        color: $headline-colors;
        font-family: $content-font;
        font-size: 1.25rem;
        padding-bottom: 10px;
    }
}
.email-error{
    font-size: 1.2rem;
    background-color: $button-color;
    position: absolute;
    bottom: 90%;
    left: 10%;
    padding: 3px 4px 4px 3px;
    border-radius: 10px 10px 0px 10px;
    color: #fff;
}
.social-links{

    justify-self: center;
    h3{
        color: $headline-colors;
        padding-left: 10px;
        font-size: 1.3rem;
    }
    @include for-size(tablet-only){
        padding-bottom: 15px;
    }
}
.fa-brands{
    color: #fff;
    font-size: 3.4rem;
    padding: 10px 10px 10px 10px;
    text-align: center;
    &:hover{
        color: $button-color;
    }
    @include for-size(tablet-only){
        font-size: 2rem;
    }
}
.fa-phone, .fa-map{
    font-size: 1.4rem;
    padding-top: 15px;
    span{
        font-family: $content-font;
        padding-left: 5px;
        font-size: inherit;
    }
    @include for-size(tablet-only){
        font-size: 1.15rem;
        span{
            font-size: inherit;
        }
    }
}
.newletter-wrapper{
    justify-self: center;
    width: 50%;
    h3{
        font-size: 1.4rem;
        color: $headline-colors;
        padding-bottom: 15px;
        @include for-size(tablet-only){
            text-align: center;
        }
    }
    h4{
        color: $headline-colors;
        padding-top: 20px;
        text-align: center;
        font-size: 1.4rem;
    }
}
.newsletter-form{
    display: flex;
    flex-direction: row;
    position: relative;
    @include for-size(small-desktop){
        flex-direction: column;
    }
    
}
.newsletter-box{
    width: 65%;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
    @include for-size(small-desktop){
        margin-bottom: 5px;
        width: 100%;
    }
}
.newsletter-button{
    height: 25px;
    width: 80px;
    background-color: $button-color;
    color: $headline-colors;
    border: solid 1px #000;
    border-radius: 10px;
    @include for-size(small-desktop){
        width: 100%;
    }
    @include for-size(tablet-only){
        margin-top: 5px;
    }

}
.site-map{
    justify-self: center;
    h3{
        font-size: 1.5rem;
    }
    @include for-size(tablet-only){
        padding-top: 10px;
    }
}
.bottom-nav-item{
    list-style:none;
    font-size: 1.4rem;
    a{
        font-size: 1.4rem;
        text-decoration: none;
        color: $headline-colors;
        transform: color .7s ease-out;
        &:hover{
            color: $button-color;
        }
    }
    @include for-size(tablet-only){
        a{
            text-decoration: underline;
        }
    }
}
.contact{
    h3{
        font-size: 1.3rem;
    }
    @include for-size(tablet-only){
        text-align: center;
        padding-top: 10px;
    }
}
/* Navbar Mobile Animation */
#hamburger-menu.is-active{
    .bar{
        &:nth-child(2){
            opacity: 0;
        }
        &:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

