/* page setup */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $content-font;
    font-size: $base-font-size;

}
html{
    background-color: black;
}
html ,body{
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    overscroll-behavior: auto;
}
body{
    overflow: auto;
}
h1, h2, h3, i{
    font-family: $headline-font;
    color: $headline-colors;
}