/* page setup */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $content-font;
    font-size: $base-font-size;

}
body{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background: linear-gradient(94deg, rgba(6,4,45,1) 0%, rgba(2,19,27,1) 34%, rgba(4,25,36,1) 64%, rgba(0,0,0,1) 100%);
    position: relative;
}
h1, h2, h3{
    font-family: $headline-font;
    color: $headline-colors;
}