// Volunteer page //
.job-image{
    float: left;
}
.volunteer-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    clear: left;
    padding: 15px;
    transform: translateX(-100%);
    opacity: 0;
    animation: jobsanimation $navbar-timing ease-in ($navbar-timing+50ms);
    animation-fill-mode: forwards;
    p{
        @include form-p;
        margin-bottom: 15px;
        color: hsl(0, 0%, 50%)
    }
    h2{
        @include form-h2;
        margin-top: 15px;
        color: hsl(354,16%,64%)
    }
}
.donation-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px;
    p{
        @include form-p;
    }
    h2{
        @include form-h2;
    }
}

.volunteer-header-text{
    .counter{
        font-family: $headline-font;
        font-size: 5rem;
        color: $primary-color;
        span{
            font-family: inherit;
            font-size: inherit;
        }
    }
    font-family: $headline-font;
    font-size: 5rem;
    text-align: center;
    position: relative;
    padding-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 600px;
    color: $primary-color;
}
.jobs{
    clear:right;
    margin-bottom: 20px;
    border: 10px solid transparent;
    border-image: url("../images/tiles/boarder-test.png") round 65; 
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    background-color:$secondary-color;
    box-shadow: $drop-shadow;
    img{
        padding: 5px;
        cursor: pointer;
    }
    .fc-view{
        background-color: $primary-color;
    }
    .volunteer-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        max-width: 100%;
        margin: auto;
        label{
            font-size: 1.4rem;
            padding-bottom: .5rem;
            @include form-p;
        }
    }
    .txtVol{
        height: 3rem;
        width: 10rem;
        font-size: 1.4rem;
    
    }
}

.calendar-wrapper{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
    margin-top: 15px;
    .calendar{
        height: 500px;
        width: 100%;
    }
    form{
        height: 100%;
        width: 100%;
    }
}
.calender{
    width: 800px;
    height: auto;
}
.email{
    display: none;
    margin: auto;
}
.checkbox-wrapper{
    position: relative;
    height: 60px;
    width: 60px;
}
.paw-checkbox{
    opacity: 0;
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: 2;
    cursor: pointer;

    & + label{
        background: url('../images/checkboxs/unchecked.svg') no-repeat;
        height: inherit;
        width: inherit;
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
    &:checked + label{
        background: url('../images/checkboxs/checked.svg') no-repeat;
        height: inherit;
        width: inherit;
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
}
