// Volunteer page //
.job-image{
    float: left;
}
.volunteer-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    clear: left;
    padding: 15px;
    background-color: black;
    transform: translateX(-100%);
    opacity: 0;
    animation: jobsanimation $navbar-timing ease-in ($navbar-timing+50ms);
    animation-fill-mode: forwards;
    p{
        @include form-p;
        margin-bottom: 15px;
        color: hsl(0, 0%, 50%)
    }
    h2{
        @include form-h2;
        margin-top: 15px;
        color: hsl(354,16%,64%)
    }
}
.donation-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px;
    p{
        @include form-p;
    }
    h2{
        @include form-h2;
    }
}
.volunteer-header{
    width: 100%;
    min-height: 700px;
    background-image: url('../images/volunteer_pictures/hero_test.webp');
    background-position: left 25%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 6%
}
.volunteer-header-text{
    text-align: center;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: $headline-colors;
    h1{
        font-family: $headline-font;
        font-size: 5rem;
    }
    span{
        font-family: $headline-font;
        font-size: 5rem;
    }
}
.jobs{
    clear:right;
    margin-bottom: 20px;
    border: 10px solid transparent;
    border-image: url("../images/tiles/boarder-test.png") round 65; 
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    background-color:$secondary-color;
    box-shadow: $drop-shadow;
    img{
        padding: 5px;
        cursor: pointer;
    }
    .fc-view{
        background-color: $primary-color;
    }
    .volunteer-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        max-width: 100%;
        margin: auto;
        label{
            font-size: 1.4rem;
            padding-bottom: .5rem;
            @include form-p;
        }
    }
    .txtVol{
        height: 3rem;
        width: 10rem;
        font-size: 1.4rem;
    
    }
}

.calendar-wrapper{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
    margin-top: 15px;
    .calendar{
        height: 500px;
        width: 100%;
    }
    form{
        height: 100%;
        width: 100%;
    }
}
.calender{
    width: 800px;
    height: auto;
}
.email{
    display: none;
    margin: auto;
}
.checkbox-wrapper{
    position: relative;
    height: 60px;
    width: 60px;
}
.paw-checkbox{
    opacity: 0;
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: 2;
    cursor: pointer;

    & + label{
        background: url('../images/checkboxs/unchecked.svg') no-repeat;
        height: inherit;
        width: inherit;
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
    &:checked + label{
        background: url('../images/checkboxs/checked.svg') no-repeat;
        height: inherit;
        width: inherit;
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
}
// .date-wrapper{
//     width: 20%;
//     position: relative;
//     height: 40px;
//     overflow: hidden;
//     input{
//         width: 100%;
//         height: 100%;
//         padding-top: 20px;
//         padding-left: 3px;
//         border: none;
//         outline: none;
//         font-size: 1.3rem;
//     }
//     label{
//         position: absolute;
//         bottom: 0px;
//         left: 0%;
//         width: 100%;
//         height: 100%;
//         pointer-events: none;
//         border-bottom: 1px solid $headline-colors;
//         color: $headline-colors;
//         transform: all 0.2s ease;
//         &:after{
//             content:"";
//             position: absolute;
//             height: 100%;
//             width: 100%;
//             border-bottom: 3px solid $contact-animation;
//             left: 0px;
//             bottom: -1px;
//             transform: translateX(-100%);
//             transition: all 0.3s ease;
//         }
//     }
// }

// .label-span{
//     position: absolute;
//     bottom: 100;
//     padding-left: 10px;
//     transform: all 0.3s ease;
// }
// /* animations */
// .date-wrapper input:focus + .label-name .label-span, .date-wrapper input:valid + .label-name .label-span{
//     transform: translateY(-75%);
//     padding-left: 0px;
//     color: rgba(127, 127, 127, .5);
// }
// .date-wrapper input:focus + .label-name::after, .date-wrapper input:valid + .label-name::after{
//     transform: translateX(0%);
// }

