/* scss constants */
/* colors */
/* fonts */
/* mixins */
/* scss page imports */
/* page setup */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #E2C2C6;
}

h1, h2, h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #2D080A;
}

/* wrappers */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0;
}

.contact-wrapper {
  text-align: center;
}

.contact-wrapper h1 {
  margin-top: 20px;
  font-size: 3rem;
}

.form-wrapper {
  margin-bottom: 5px;
}

/* navigation */
.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  overflow: hidden;
  background-color: #0d3b66;
  -webkit-box-shadow: 0px 0px 10px #0f0f0f;
          box-shadow: 0px 0px 10px #0f0f0f;
  z-index: 1000;
}

.navbar img {
  height: 55px;
  width: auto;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
}

.navbar .nav {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  z-index: 100;
}

.navbar .nav .nav-item:nth-child(5) {
  padding-right: 15px;
}

.navbar .nav a {
  color: #000;
  font-size: 1.8rem;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.navbar .nav a:hover {
  color: pink;
}

.hamburger {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 25px;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* footer */
footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 1fr 1fr;
      grid-template-columns: 2fr 3fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d3b66;
  margin-top: auto;
  padding-bottom: 15px;
  min-height: 200px;
}

.email-error {
  font-size: 1.2rem;
  background-color: #DA627D;
  position: relative;
  bottom: 10px;
  left: 80px;
  padding: 3px 4px 4px 3px;
  border-radius: 10px 10px 0px 10px;
  color: #fff;
}

.social-links {
  -ms-grid-column-align: center;
      justify-self: center;
}

.social-links h3 {
  color: #2D080A;
  padding-left: 10px;
}

.fa-brands {
  color: #DA627D;
  font-size: 3.4rem;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.newletter-wrapper {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 40%;
}

.newletter-wrapper h3 {
  color: #2D080A;
  padding-bottom: 15px;
}

.newletter-wrapper h4 {
  color: #2D080A;
  padding-top: 20px;
  text-align: center;
}

.newsletter-box {
  width: 65%;
  height: 25px;
}

.newsletter-button {
  height: 25px;
  width: 80px;
}

.site-map {
  -ms-grid-column-align: center;
      justify-self: center;
}

.bottom-nav-item {
  list-style: none;
  font-size: 1.4rem;
}

.bottom-nav-item a {
  text-decoration: none;
  color: #2D080A;
  -webkit-transform: color .7s ease-out;
          transform: color .7s ease-out;
}

.bottom-nav-item a:hover {
  color: #DA627D;
}

/* Navbar Mobile Animation */
#hamburger-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#hamburger-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

#hamburger-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

/* contact page */
.social-button {
  width: 20%;
  margin: 20px;
  font-size: 1.5rem;
  -webkit-box-shadow: 0px 0px 2px #0f0f0f;
          box-shadow: 0px 0px 2px #0f0f0f;
  background-color: #0d3b66;
}

.social-button .fa-brands {
  font-size: 2rem;
}

.social-button:hover {
  background-color: blue;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 10px 10px;
  max-width: 1400px;
  margin: auto;
}

.contact-form h2 {
  padding: 15px;
}

.name-form, .email-form, .subject-form {
  width: 50%;
  position: relative;
  height: 40px;
  overflow: hidden;
}

.name-form input, .email-form input, .subject-form input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 3px;
  border: none;
  outline: none;
  font-size: 1.3rem;
}

.name-form label, .email-form label, .subject-form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #2D080A;
  color: #2D080A;
  -webkit-transform: all 0.2s ease;
          transform: all 0.2s ease;
}

.name-form label:after, .email-form label:after, .subject-form label:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #DA627D;
  left: 0px;
  bottom: -1px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.text-form {
  width: 50%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.text-form textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
}

.text-form label {
  position: absolute;
  top: -90%;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #2D080A;
  -webkit-transform: all 0.2s ease;
          transform: all 0.2s ease;
}

.text-form label:before {
  content: "";
  border-bottom: 2px solid #2D080A;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -90%;
}

.text-form label:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #DA627D;
  left: 0px;
  bottom: -90%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.email-form label, .subject-form label {
  bottom: 5px;
}

.content-name, .contact-email, .contact-subject {
  position: absolute;
  bottom: 5px;
  padding-left: 10px;
  -webkit-transform: all 0.3s ease;
          transform: all 0.3s ease;
}

.contact-check {
  position: relative;
  background-color: red;
}

.contact-check label {
  position: absolute;
  top: 0px;
}

/* contact page animation */
.name-form input:focus + .label-name .content-name, .name-form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  padding-left: 0px;
  color: rgba(127, 127, 127, 0.5);
}

.name-form input:focus + .label-name::after, .name-form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.email-form input:focus + .label-name .content-name, .email-form input:not(:placeholder-shown) + .label-name .content-name {
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  padding-left: 0px;
  color: rgba(127, 127, 127, 0.5);
}

.email-form input:focus + .label-name::after, .email-form input:not(:placeholder-shown) + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.subject-form input:focus + .label-name .content-name, .subject-form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  padding-left: 0px;
  color: rgba(127, 127, 127, 0.5);
}

.subject-form input:focus + .label-name::after, .subject-form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.text-form textarea:focus + .label-name .content-name, .text-form textarea:valid + .label-name .content-name {
  -webkit-transform: translateY(1100%);
          transform: translateY(1100%);
  color: rgba(127, 127, 127, 0.2);
}

.text-form textarea:focus + .label-name::after, .text-form textarea:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contact-form-button {
  width: 20%;
  font-size: 2rem;
  -webkit-box-shadow: 0px 0px 2px #0f0f0f;
          box-shadow: 0px 0px 2px #0f0f0f;
  background-color: #0d3b66;
}

.contact-form-button:hover {
  background-color: #FFAAEA;
}

.job-image {
  float: right;
}

.volunteer-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  clear: right;
}

.volunteer-wrapper p {
  font-size: 1.5rem;
  line-height: 1.75;
  margin-bottom: 15px;
}

.volunteer-wrapper h2 {
  text-align: center;
  font-size: 3rem;
}

.donation-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.donation-wrapper p {
  font-size: 1.5rem;
  line-height: 1.75;
}

.donation-wrapper h2 {
  text-align: center;
  font-size: 3rem;
}

.jobs {
  clear: right;
  margin-bottom: 20px;
  border: 10px solid transparent;
  -o-border-image: url("../images/tiles/boarder-test.png") round 65;
     border-image: url("../images/tiles/boarder-test.png") round 65;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  background-color: #0d3b66;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
}

.jobs img {
  padding-left: 5px;
  cursor: pointer;
}

.jobs .fc-view {
  background-color: #E2C2C6;
}

.jobs .volunteer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  max-width: 100%;
  margin: auto;
}

.jobs .volunteer-form label {
  font-size: 1.4rem;
  padding-bottom: .5rem;
}

.jobs .txtVol {
  height: 3rem;
  width: 10rem;
  font-size: 1.4rem;
}

.calendar-wrapper {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 25px;
  margin-top: 15px;
}

.calendar-wrapper .calendar {
  height: 500px;
  width: 100%;
}

.calendar-wrapper form {
  height: 100%;
  width: 100%;
}

.calender {
  width: 800px;
  height: auto;
}

/* hero image */
.index-img-1 {
  background-image: url("../images/parallax/index_hero.webp");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-img-2 {
  background-image: url("../images/parallax/Boo_large.webp");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* index page gallary */
.card-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-bottom: 10px;
}

.cat-card {
  cursor: pointer;
  font-size: 0;
}

.detail {
  position: fixed;
}

/* Media Queries */
/* Mobile Devices */
@media only screen and (max-width: 720px) {
  /* contact page */
  .center {
    width: 80vw;
  }
  .button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-button {
    width: 40%;
  }
  .name-form, .email-form, .subject-form, .text-form {
    width: 100%;
  }
  .contact-form-button {
    width: 80%;
  }
  /* footer */
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: auto;
  }
  .fa-brands {
    font-size: 2rem;
  }
  .newsletter-box {
    width: 100%;
  }
  .newsletter-button {
    width: 100%;
  }
  /* Mobile navigation */
  .navbar .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    top: 75px;
    width: 100%;
    height: calc(100vh - 75px);
    -webkit-transform: translate(-101%);
            transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  .navbar .nav-item {
    padding: 15px;
  }
  .navbar .nav-item:first-child {
    margin-top: 50px;
  }
  .navbar .nav-item a {
    font-size: 1.5rem;
  }
  .hamburger, .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    -webkit-transform: translate(0%) !important;
            transform: translate(0%) !important;
    background-color: #ffbeef;
    z-index: 100;
  }
}

/* page content */
.headline {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3rem;
  padding: 10px;
}

.content {
  max-width: 1400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content h2 {
  text-align: center;
}

.content p {
  padding: 0px 0px 20px 0px;
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */