/* scss constants */
/* colors */
/* css animation */
/* mixins */
/* yanone-kaffeesatz-600 - latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/yanone-kaffeesatz-v23-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/yanone-kaffeesatz-v23-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/yanone-kaffeesatz-v23-latin-600.woff2") format("woff2"), url("../fonts/yanone-kaffeesatz-v23-latin-600.woff") format("woff"), url("../fonts/yanone-kaffeesatz-v23-latin-600.ttf") format("truetype"), url("../fonts/yanone-kaffeesatz-v23-latin-600.svg#YanoneKaffeesatz") format("svg");
  /* Legacy iOS */
}

/* pt-sans-narrow-regular - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-narrow-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/pt-sans-narrow-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-narrow-v17-latin-regular.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v17-latin-regular.woff") format("woff"), url("../fonts/pt-sans-narrow-v17-latin-regular.ttf") format("truetype"), url("../fonts/pt-sans-narrow-v17-latin-regular.svg#PTSansNarrow") format("svg");
  /* Legacy iOS */
}

/* scss page imports */
/* page setup */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
}

html {
  overflow: hidden;
}

html, body {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  overscroll-behavior: auto;
}

body {
  overflow: auto;
}

h1, h2, h3, i {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #fff;
}

/* wrappers */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  background-color: black;
  background: linear-gradient(94deg, #06042d 0%, #02131b 34%, #041924 64%, black 100%);
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 1fr 1fr;
      grid-template-columns: 2fr 3fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d3b66;
  margin-top: auto;
  min-height: 200px;
}

@media (max-width: 768px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: auto;
    padding-top: 15px;
  }
}

.content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 1600px;
  padding: 15px;
  position: relative;
  -webkit-animation: contentanimation 250ms ease-in 300ms forwards;
          animation: contentanimation 250ms ease-in 300ms forwards;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.content div {
  padding-bottom: 20px;
}

.content h1 {
  font-size: 3.5rem;
  text-align: center;
}

.content h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.content p {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
}

.content a {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
  color: #fff;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 2.5rem;
  }
  .content p {
    font-size: 1.5rem;
  }
  .content a {
    font-size: inherit;
  }
}

@media (max-width: 425px) {
  .content h1 {
    font-size: 2rem;
  }
  .content p {
    font-size: 1rem;
  }
  .content a {
    font-size: inherit;
  }
}

.contact-wrapper {
  text-align: center;
  margin: 15px;
}

.contact-wrapper h1 {
  margin-top: 20px;
  font-size: 3rem;
}

.page-wrapper {
  margin-bottom: 15px;
}

/* navigation */
.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  overflow: hidden;
  background-color: rgba(13, 60, 104, 0.7);
  -webkit-box-shadow: 0px 0px 10px #0f0f0f;
          box-shadow: 0px 0px 10px #0f0f0f;
  z-index: 1000;
  position: relative;
  -webkit-animation: navbarload 250ms ease-in;
          animation: navbarload 250ms ease-in;
}

.navbar img {
  height: 55px;
  width: auto;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-animation: logoanimate 250ms;
          animation: logoanimate 250ms;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar .nav {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  z-index: 100;
}

.navbar .nav .nav-item {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: navitemgrow 250ms;
          animation: navitemgrow 250ms;
  -webkit-animation-delay: 375ms;
          animation-delay: 375ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar .nav .nav-item:nth-child(5) {
  padding-right: 15px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    top: 75px;
    width: 100%;
    height: calc(100vh - 75px);
    -webkit-transform: translate(-101%);
            transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  .navbar .nav .nav-item {
    padding: 15px;
  }
  .navbar .nav .nav-item:first-child {
    margin-top: 50px;
  }
  .navbar .nav .nav-item a {
    font-size: 1.5rem;
  }
}

.navbar .nav a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.navbar .nav a:hover {
  color: #DA627D;
  font-size: 2rem;
}

.hamburger {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 25px;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #DA627D;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hamburger, .bar {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .mobile-nav {
    -webkit-transform: translate(0%) !important;
            transform: translate(0%) !important;
    background-color: rgba(13, 60, 104, 0.7);
    z-index: 100;
  }
}

/* footer */
footer {
  min-height: 220px;
  background-color: #0d3b66;
}

footer .copy {
  text-align: center;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.email-error {
  font-size: 1.2rem;
  background-color: #DA627D;
  position: absolute;
  bottom: 90%;
  left: 10%;
  padding: 3px 4px 4px 3px;
  border-radius: 10px 10px 0px 10px;
  color: #fff;
}

.social-links {
  -ms-grid-column-align: center;
      justify-self: center;
}

.social-links h3 {
  color: #fff;
  padding-left: 10px;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .social-links {
    padding-bottom: 15px;
  }
}

.fa-brands {
  color: #DA627D;
  font-size: 3.4rem;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .fa-brands {
    font-size: 2rem;
  }
}

.fa-phone, .fa-map {
  font-size: 1.4rem;
  padding-top: 15px;
}

.fa-phone span, .fa-map span {
  font-family: "PT Sans Narrow", sans-serif;
  padding-left: 5px;
  font-size: inherit;
}

@media (max-width: 768px) {
  .fa-phone, .fa-map {
    font-size: 1.15rem;
  }
  .fa-phone span, .fa-map span {
    font-size: inherit;
  }
}

.newletter-wrapper {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50%;
}

.newletter-wrapper h3 {
  font-size: 1.4rem;
  color: #fff;
  padding-bottom: 15px;
}

.newletter-wrapper h4 {
  color: #fff;
  padding-top: 20px;
  text-align: center;
  font-size: 1.4rem;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media (max-width: 1300px) {
  .newsletter-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.newsletter-box {
  width: 65%;
  height: 25px;
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 1300px) {
  .newsletter-box {
    margin-bottom: 5px;
    width: 100%;
  }
}

.newsletter-button {
  height: 25px;
  width: 80px;
  background-color: #DA627D;
  color: #fff;
  border: solid 1px #000;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .newsletter-button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .newsletter-button {
    margin-top: 5px;
  }
}

.site-map {
  -ms-grid-column-align: center;
      justify-self: center;
}

.site-map h3 {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .site-map {
    padding-top: 10px;
  }
}

.bottom-nav-item {
  list-style: none;
  font-size: 1.4rem;
}

.bottom-nav-item a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  -webkit-transform: color .7s ease-out;
          transform: color .7s ease-out;
}

.bottom-nav-item a:hover {
  color: #DA627D;
}

@media (max-width: 768px) {
  .bottom-nav-item a {
    text-decoration: underline;
  }
}

.contact h3 {
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .contact {
    padding-top: 10px;
  }
}

/* Navbar Mobile Animation */
#hamburger-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#hamburger-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

#hamburger-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

/* index page */
/* links under hero */
.quick-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  justify-items: center;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 75px;
  text-align: center;
}

.quick-links a {
  text-decoration: none;
}

.quick-links h1 {
  font-size: 2.9rem;
  color: #fff;
}

.quick-links p {
  color: #fff;
}

@media (max-width: 768px) {
  .quick-links {
    height: 50px;
  }
  .quick-links h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 425px) {
  .quick-links h1 {
    font-size: 1rem;
  }
}

#index-content-1 .index-grid {
  margin-top: 15px;
  padding-top: 10px;
}

.volunteer {
  background-color: #0d3b66;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-animation: aboutquick 250ms 250ms forwards;
          animation: aboutquick 250ms 250ms forwards;
}

.volunteer:hover h1 {
  color: #DA627D;
}

.volunteer:hover p {
  color: #DA627D;
}

.cats {
  background-color: #DA627D;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  text-align: center;
  padding: 10px;
  -webkit-animation: catsquick 250ms 250ms forwards;
          animation: catsquick 250ms 250ms forwards;
}

.cats:hover h1 {
  color: #0d3b66;
}

.cats:hover p {
  color: #0d3b66;
}

.about {
  background-color: #DA627D;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: volunteersquick 250ms 250ms forwards;
          animation: volunteersquick 250ms 250ms forwards;
}

.about:hover h1 {
  color: #0d3b66;
}

.about:hover p {
  color: #0d3b66;
}

.index-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 100%;
}

.index-grid h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  font-size: 3rem;
}

.index-grid h2 span {
  font-size: 3rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.index-grid p {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
  padding: 10px;
  font-size: 1.7rem;
}

.index-grid a {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
  color: #fff;
}

@media (max-width: 768px) {
  .index-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index-grid .counter {
    font-size: 2.25rem;
  }
  .index-grid h2 {
    font-size: 2.25rem;
  }
  .index-grid p {
    font-size: 1.5rem;
  }
  .index-grid a {
    font-size: inherit;
  }
}

@media (max-width: 425px) {
  .index-grid .counter {
    font-size: 1.75rem;
  }
  .index-grid h2 {
    font-size: 1.75rem;
  }
  .index-grid p {
    font-size: 1rem;
  }
  .index-grid a {
    font-size: in;
  }
}

/* bottom news */
#section-3 {
  width: 100%;
}

#section-3 h1 {
  text-align: center;
}

.news-left {
  width: 100%;
}

.news-right {
  width: 100%;
}

.news-slideshow {
  width: 300px;
  position: relative;
  margin: auto;
}

.news-slide {
  display: None;
  text-align: center;
  width: 300px;
  margin: auto;
}

.news-slide span {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
}

.prev, .next {
  color: #DA627D;
  font-size: 30px;
  position: absolute;
  top: 35%;
  cursor: pointer;
}

.prev:hover, .next:hover {
  color: #DA627D;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.prev {
  left: 5%;
}

.next {
  left: 90%;
}

/* contact page */
@media (max-width: 1300px) {
  .button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social-button {
  width: 30%;
  margin: 20px;
  height: auto;
  font-size: 1.5rem;
  border-radius: 10px;
  border: solid #DA627D 1px;
  -webkit-box-shadow: 0px 0px 10px #0d3c68;
          box-shadow: 0px 0px 10px #0d3c68;
  background-color: #0d3b66;
  color: #fff;
}

.social-button .fa-brands {
  font-size: 2rem;
}

.social-button:hover {
  background-color: #DA627D;
}

.social-button:hover .fa-brands {
  color: white;
}

@media (max-width: 768px) {
  .social-button {
    width: 100%;
    font-size: 1.2rem;
  }
  .social-button .fa-brands {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  .social-button {
    width: 100%;
    font-size: 1rem;
  }
  .social-button .fa-brands {
    font-size: 1.25rem;
  }
}

.form-wrapper {
  margin: 0 auto 20px auto;
  height: 100%;
  width: 100%;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 10px 10px;
  max-width: 1400px;
  margin: auto;
  background-color: #0d3b66;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #0d3b66;
          box-shadow: 0px 0px 6px #0d3b66;
  margin: 15px auto;
  margin-bottom: 15px;
}

.contact-form h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.contact-form p {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
}

.name-form, .email-form, .subject-form {
  width: 50%;
  position: relative;
  height: 40px;
  overflow: hidden;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 2px #0d3b66;
          box-shadow: 0px 0px 2px #0d3b66;
}

.name-form input, .email-form input, .subject-form input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 3px;
  border: none;
  outline: none;
  font-size: 1.3rem;
}

.name-form label, .email-form label, .subject-form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #fff;
  color: gray;
  -webkit-transform: all 0.2s ease;
          transform: all 0.2s ease;
}

.name-form label:after, .email-form label:after, .subject-form label:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #DA627D;
  left: 0px;
  bottom: -1px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .name-form, .email-form, .subject-form {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .name-form, .email-form, .subject-form {
    width: 100%;
  }
}

.text-form {
  width: 50%;
  height: 250px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px #fff;
          box-shadow: 0px 0px 5px #fff;
  margin: 10px;
}

.text-form textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
}

.text-form label {
  position: absolute;
  top: -90%;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: gray;
  -webkit-transform: all 0.2s ease;
          transform: all 0.2s ease;
}

.text-form label:before {
  content: "";
  border-bottom: 2px solid #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -90%;
}

.text-form label:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #DA627D;
  left: 0px;
  bottom: -90%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .text-form {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .text-form {
    width: 100%;
  }
}

.email-form label, .subject-form label {
  bottom: 5px;
}

.content-name, .contact-email, .contact-subject {
  position: absolute;
  bottom: 5px;
  padding-left: 10px;
  -webkit-transform: all 0.3s ease;
          transform: all 0.3s ease;
}

.contact-checkbox-wrapper {
  position: relative;
  height: 60px;
  width: 60px;
  margin: auto;
}

.contact-check {
  opacity: 0;
  height: 60px;
  width: 60px;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.contact-check + label {
  background: url("../images/checkboxs/unchecked.svg") no-repeat;
  height: 60px;
  width: 60px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.contact-check:checked + label {
  background: url("../images/checkboxs/checked.svg") no-repeat;
  height: 60px;
  width: 60px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.contact-check label {
  position: absolute;
  top: 0px;
}

.info-text {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
}

/* cats page */
.cat-adopt-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 15px;
  padding: 15px;
}

@media (max-width: 768px) {
  .cat-adopt-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.trap {
  padding-top: 20px;
}

@media (min-width: 1300px) {
  .trapping-links {
    padding-left: 15px;
  }
}

@media (max-width: 1300px) {
  .trapping-links {
    padding-left: 10px;
  }
}

.trapping-links ul {
  list-style: none;
  text-align: center;
}

.trapping-links ul li {
  font-size: 1.75rem;
}

@media (max-width: 425px) {
  .trapping-links ul li {
    font-size: 1.5rem;
  }
}

.item {
  max-width: 100%;
  height: auto;
}

.item img {
  width: 100%;
  height: auto;
}

.detail {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90.1vmin;
  cursor: pointer;
  font-size: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100%;
  overflow: auto;
}

.detail > img {
  position: relative;
  z-index: 1;
}

.detail .flip {
  background: #06042d;
  padding: 2rem 1.5rem;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.detail .flip > * {
  margin-bottom: 1rem;
}

.detail .title {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

.detail .secondary {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
  color: lightgray;
  text-align: center;
  text-transform: uppercase;
}

.detail .description {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
  line-height: 1.5;
}

.job-image {
  float: left;
}

.volunteer-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  clear: left;
  padding: 15px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-animation: jobsanimation 250ms ease-in 300ms;
          animation: jobsanimation 250ms ease-in 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.volunteer-wrapper p {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
  margin-bottom: 15px;
  color: #9b9797;
}

.volunteer-wrapper h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  margin-top: 15px;
  color: #fff;
}

@media (max-width: 768px) {
  .volunteer-wrapper h2 {
    font-size: 2.5rem;
  }
  .volunteer-wrapper p {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  .volunteer-wrapper h2 {
    font-size: 2rem;
  }
  .volunteer-wrapper p {
    font-size: 1rem;
  }
}

.fc .fc-daygrid-day-number {
  color: #fff;
}

.fc .fc-col-header-cell-cushion {
  color: #fff;
}

.donation-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
}

.donation-wrapper p {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
}

.donation-wrapper h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.volunteer-header-text {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 5rem;
  text-align: center;
  position: relative;
  padding-top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 600px;
  color: #DA627D;
}

.volunteer-header-text .counter {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 5rem;
  color: #fff;
}

.volunteer-header-text .counter span {
  font-family: inherit;
  font-size: inherit;
}

@media (max-width: 768px) {
  .volunteer-header-text {
    top: 500px;
  }
  .volunteer-header-text .counter {
    font-size: 3rem;
  }
  .volunteer-header-text .counter span {
    font-size: inherit;
  }
}

@media (max-width: 425px) {
  .volunteer-header-text {
    top: 350px;
  }
  .volunteer-header-text .counter {
    font-size: 2.5rem;
  }
  .volunteer-header-text .counter span {
    font-size: 2.5rem;
  }
}

.jobs {
  clear: right;
  margin-bottom: 20px;
  border: 15px solid transparent;
  -o-border-image: url("../images/tiles/boarder-test.png") 40 round;
     border-image: url("../images/tiles/boarder-test.png") 40 round;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  background-color: #0d3b66;
  -webkit-box-shadow: 0px 0px 10px #0d3c68;
          box-shadow: 0px 0px 10px #0d3c68;
}

.jobs img {
  padding: 5px;
  cursor: pointer;
}

.jobs .fc-view {
  background-color: #DA627D;
}

.jobs .volunteer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  max-width: 100%;
  margin: auto;
}

.jobs .volunteer-form label {
  font-size: 1.4rem;
  padding-bottom: 10px;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
}

@media (max-width: 425px) {
  .jobs .volunteer-form label {
    font-size: 1rem;
  }
}

.jobs .txtVol {
  height: 3rem;
  width: 10rem;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 5px;
  background-color: #DA627D;
  color: #fff;
  border: solid 1px #000;
}

@media (max-width: 425px) {
  .jobs .txtVol {
    font-size: 1rem;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .jobs p {
    font-size: 1.25rem;
  }
  .jobs img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 425px) {
  .jobs p {
    font-size: 1rem;
  }
  .jobs img {
    width: 100px;
    height: 100px;
  }
}

.calendar-wrapper {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 25px;
  margin-top: 15px;
}

.calendar-wrapper .calendar {
  height: 500px;
  width: 100%;
}

.calendar-wrapper form {
  height: 100%;
  width: 100%;
}

.calender {
  width: 800px;
  height: auto;
}

.email {
  display: none;
  margin: auto;
}

.email .txtVol {
  width: 250px;
  padding: 5px;
  background-color: #DA627D;
  color: #fff;
  border: solid 1px #000;
}

.checkbox-wrapper {
  position: relative;
  height: 60px;
  width: 60px;
}

.paw-checkbox {
  opacity: 0;
  height: 60px;
  width: 60px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.paw-checkbox + label {
  background: url("../images/checkboxs/unchecked.svg") no-repeat;
  height: inherit;
  width: inherit;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.paw-checkbox:checked + label {
  background: url("../images/checkboxs/checked.svg") no-repeat;
  height: inherit;
  width: inherit;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.volunteer-button {
  width: 100px;
  height: 35px;
  font-size: 1.55rem;
  border: solid 0.5px #DA627D;
  border-radius: 10px;
  background-color: #DA627D;
  color: #fff;
  margin-top: 10px;
}

.logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-self: center;
}

@media (max-width: 768px) {
  .logo-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo-flex a {
  text-align: center;
}

/* about page */
.about-img-wrapper {
  text-align: center;
}

.about-img-wrapper h1 {
  font-size: 3rem;
}

.about-img-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-img-grid img {
  width: 95%;
  height: auto;
}

@media (max-width: 720px) {
  .about-img-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-img-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  font-size: 6rem;
}

@media (max-width: 768px) {
  .about-img-text {
    font-size: 3rem;
  }
}

/* Images */
/* hero image */
.hero {
  opacity: 0;
  -webkit-animation: heroimg 400ms ease-in;
          animation: heroimg 400ms ease-in;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.index-img-1 {
  background-image: url("../images/index/index_hero_large.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 75px;
  min-height: 750px;
}

@media (max-width: 768px) {
  .index-img-1 {
    background-image: url("../images/index/index_hero_tablet.webp");
    background-position: 75% 30%;
    min-height: 650px;
  }
}

@media (max-width: 425px) {
  .index-img-1 {
    background-image: url("../images/index/index_hero_phone.webp");
    min-height: 450px;
  }
}

.index-img-2 {
  background-image: url("../images/index/Boo_large.webp");
  min-height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.index-img-2 .hero-text {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.index-img-2 q {
  font-size: 3rem;
}

.index-img-2 h1 {
  font-size: 3rem;
}

@media (max-width: 1300px) {
  .index-img-2 {
    background-image: url("../images/index/Boo_large.webp");
    min-height: 500px;
    background-position: 40%;
  }
}

@media (max-width: 768px) {
  .index-img-2 {
    background-image: url("../images/index/Boo_tablet.webp");
    background-position: 50%;
  }
}

@media (max-width: 425px) {
  .index-img-2 {
    background-image: url("../images/index/Boo_phone.webp");
    min-height: 500px;
    background-position: 65.5%;
  }
}

.index-img-3 {
  background-image: url("../images/index/sanctuary_index_large.webp");
  min-height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1300px) {
  .index-img-3 {
    min-height: 500px;
    background-position: 50%;
    background-image: url("../images/index/sanctuary_index_tablet.webp");
  }
}

@media (max-width: 768px) {
  .index-img-3 {
    min-height: 400px;
    background-position: 50%;
    background-image: url("../images/index/sanctuary_index_phone.webp");
  }
}

/* index page */
.spay-neuter-img {
  width: 100%;
  height: 300px;
  background-image: url("../images/index/spay.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 15px;
}

@media (max-width: 1300px) {
  .spay-neuter-img {
    margin-top: 15%;
  }
}

@media (max-width: 768px) {
  .spay-neuter-img {
    margin-top: 0px;
  }
}

.sanctuary-img {
  width: 100%;
  min-height: 500px;
  background-image: url("../images/index_sanctuary.webp");
  background-position: center 55%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.adopt-img {
  width: 100%;
  height: 300px;
  background-image: url("../images/index/adopt_1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cats-img {
  width: auto;
  height: 300px;
  background-image: url("../images/index/cats.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* contact page */
.contact-header {
  background-image: url(../images/contact_page.webp);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 28%;
  position: relative;
  bottom: 75px;
  min-height: 750px;
}

@media (max-width: 768px) {
  .contact-header {
    bottom: 8.5%;
    background-position: 75% 30%;
    min-height: 650px;
  }
}

@media (max-width: 425px) {
  .contact-header {
    min-height: 450px;
  }
}

/* cats page */
.cats-hero {
  background-image: url(../images/cats/cats_hero_large.webp);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
  position: relative;
  bottom: 75px;
  min-height: 750px;
}

@media (max-width: 768px) {
  .cats-hero {
    min-height: 650px;
    background-image: url(../images/cats/cats_hero_tablet.webp);
  }
}

@media (max-width: 425px) {
  .cats-hero {
    background-image: url(../images/cats/cats_hero_phone.webp);
    min-height: 450px;
  }
}

.trap-img {
  width: 100%;
  height: 300px;
  background-image: url("../images/about/trap.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 15px;
}

/* about page */
.about-hero {
  background-image: url(../images/about/about_hero.webp);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 45%;
  position: relative;
  bottom: 75px;
  min-height: 750px;
}

@media (max-width: 768px) {
  .about-hero {
    min-height: 650px;
    background-position: 40% 45%;
  }
}

@media (max-width: 425px) {
  .about-hero {
    min-height: 450px;
  }
}

.about-img-1 {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/about/big-move-large.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/about/big-move-large.webp");
  min-height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-img-2 {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/about/about_cats_large.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/about/about_cats_large.webp");
  min-height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 10%;
  position: relative;
}

@media (max-width: 1300px) {
  .about-img-2 {
    background-position: 60%;
  }
}

@media (max-width: 768px) {
  .about-img-2 {
    background-position: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/about/about_cats_tablet.webp");
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/about/about_cats_tablet.webp");
  }
}

@media (max-width: 425px) {
  .about-img-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/about/about_cats_phone.webp");
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/about/about_cats_phone.webp");
  }
}

/* volunteer page */
.volunteer-header {
  width: 100%;
  background-image: url("../images/volunteer_pictures/hero_test.webp");
  background-position: left 25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 75px;
  min-height: 750px;
}

@media (max-width: 1300px) {
  .volunteer-header {
    background-position: right;
  }
}

@media (max-width: 768px) {
  .volunteer-header {
    min-height: 650px;
  }
}

@media (max-width: 425px) {
  .volunteer-header {
    min-height: 450px;
  }
}

.chewy-logo {
  width: 100px;
}

/* thank you page */
.thanks-img {
  margin: auto;
  max-width: 80%;
  height: auto;
}

/* nav bar aniamation */
@-webkit-keyframes navbarload {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes navbarload {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes logoanimate {
  0% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes logoanimate {
  0% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navitemgrow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes navitemgrow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* hero img animations */
@-webkit-keyframes heroimg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heroimg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* quick links */
@-webkit-keyframes catsquick {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes catsquick {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes volunteersquick {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes volunteersquick {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes aboutquick {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes aboutquick {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

/* content animations */
@-webkit-keyframes contentanimation {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes contentanimation {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

/* jobs page */
@-webkit-keyframes jobsanimation {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes jobsanimation {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

/* contact page animation */
.name-form input:focus + .label-name .content-name, .name-form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  padding-left: 0px;
  color: rgba(127, 127, 127, 0.5);
}

.name-form input:focus + .label-name::after, .name-form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.email-form input:focus + .label-name .content-name, .email-form input:not(:placeholder-shown) + .label-name .content-name {
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  padding-left: 0px;
  color: rgba(127, 127, 127, 0.5);
}

.email-form input:focus + .label-name::after, .email-form input:not(:placeholder-shown) + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.subject-form input:focus + .label-name .content-name, .subject-form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  padding-left: 0px;
  color: rgba(127, 127, 127, 0.5);
}

.subject-form input:focus + .label-name::after, .subject-form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.text-form textarea:focus + .label-name .content-name, .text-form textarea:valid + .label-name .content-name {
  -webkit-transform: translateY(1100%);
          transform: translateY(1100%);
  color: rgba(127, 127, 127, 0.2);
}

.text-form textarea:focus + .label-name::after, .text-form textarea:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contact-form-button {
  width: 20%;
  font-size: 2rem;
  -webkit-box-shadow: 0px 0px 10px #0d3c68;
          box-shadow: 0px 0px 10px #0d3c68;
  background-color: #DA627D;
  color: #fff;
  border-radius: 10px;
  border: solid 0.5px #DA627D;
}

.contact-form-button:hover {
  background-color: #FFAAEA;
}

@media (max-width: 768px) {
  .contact-form-button {
    width: 20%;
  }
}

.thanks-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thanks-page-wrapper h1 {
  margin-top: 100px;
  font-size: 6rem;
}

.thanks-page-wrapper p {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
  color: #fff;
  font-size: 4rem;
}

.thanks-page-wrapper span {
  font-size: 1.75rem;
  line-height: 1.75;
  color: #9b9797;
  color: inherit;
  font-size: inherit;
}

.thanks-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  max-height: auto;
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */