/* scss constants */
    /* colors */
$headline-colors:#2D080A;
$primary-color:#E2C2C6;
$secondary-color: #0d3b66;
$button-color: #DA627D;
$contact-animation: #DA627D;
$contact-before: #0d3b66;
$card-primary: red;
$card-secondary: blue;
    /* fonts */
$headline-font: 'Yanone Kaffeesatz', sans-serif;
$content-font:  'PT Sans Narrow', sans-serif;
$drop-shadow: 0px 0px 2px #0f0f0f;
$font-size: 16px;

/* mixins */
@mixin center {
    margin: auto;
    width: 50vw;
}
@mixin parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin form-p{
    font-size: 1.5rem;
    line-height: 1.75;
}
@mixin  form-h2 {
    text-align: center;
    font-size: 3rem;
}
/* scss page imports */
@import './reset';
@import './wrappers';
@import './navgation';
@import './contact';
@import './volunteer';
@import './images';
@import './calander';
@import './media_queries';

/* page content */
.headline{
    font-family: $headline-font;
    font-size: 3rem;
    padding: 10px;
}
.content {
    max-width: 1400px;
    align-self: center;
    h2{
        text-align: center;

    } 
    p{
        padding: 0px 0px 20px 0px;
        font-size: 2rem;
    } 
}

/* Navbar Mobile Animation */
#hamburger-menu.is-active{
    .bar{
        &:nth-child(2){
            opacity: 0;
        }
        &:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

