{% extends "layout.html" %}
{% block title %}
About us!
{% endblock %}
{% block main %}
<div class="about-hero hero">
</div>
<section class="content">
    <h1>Our Story</h1>
    <p>We started just capturing the cats around our home and feeding them in colonies, trying our best to help humanly control the cat population. As others around us were just killing feral cats.  But we started to notice more and more cats from the colonies were going missing, so we decide to act to protect the cats and the wildlife around the cats. So we made the choice that we would move them to a dedicated space.  We started this move in early 2015, with our first enclosure. This enclosure was a little over half an acre, where we moved out cats that were in the highest risk areas. For a time, we had to make due with just that half an acre enclosure as it was all our land could hold.</p>
    <article>
        <h3>Below are some images of our first enclosure</h3>
        <div class="about-img-grid">
            <figure>
                <img src="../static/images/about/old_habitat_photo.webp" alt="a picture of the old habitat" width="500px" height="281px">
            </figure>
            <figure>
                <img src="../static/images/about/working_on_habitat.webp" alt="building the old habitat" width="500px" height="281px">
            </figure>
            <figure>
                <img src="../static/images/about/old_habitat_photo.webp" alt="a picture of the old habitat" width="500px" height="281px">
            </figure>
        </div>
    </article>
</section>
<div class="about-img-1">
</div>
<section class="content">
    <h1>The Big Move</h1>
    <p>We then made a big move and moved from where we started to a house with much more land. That let us expand our enclosure to two acres and gave the cats much more space to run and play. While we expanded, we started to take on more cats, quickly growing from about a dozen to our current figure of around one hundred cats. The move allowed us to start expanding our operation into adopting cats and taking in more stray cats from people around us. We are currently in the process of expanding the sanctuary more, getting back to the structures that we had before.</p>
    <article>
        <h3>Below are some images of our first enclosure</h3>
        <div class="about-img-grid">
            <figure>
                <img src="../static/images/about/building_start.webp" alt="starting the new habitat" width="500px" height="281px">
            </figure>
            <figure>
                <img src="../static/images/about/temp_habitat.webp" alt="end of day one building" width="500px" height="281px">
            </figure>
            <figure>
                <img src="../static/images/about/old_habitat_photo.webp" alt="a picture of the old habitat" width="500px" height="281px">
            </figure>
        </div>
    </article>
</section>
<div class="about-img-2"></div>
<section class="content">
    <h1>About the Cats</h1>
</section>
{% endblock %}