{% extends "layout.html" %}
{% block title %}
Thank you!
{% endblock %}
{% block main %}
<div class="cats-hero">
</div>
<div class="content">
    <h1>Our Story</h1>
</div>
<div class="content">
    <h1>Interested in trapping a cat?</h1>
    <p>Do you have a cat that you are interested in trying to catch and fix? We can provide some help with that task. Depending on where you live, there might be free services that will provide you with a trap and cover the cost of the surgery. If you live in Hamilton County, or the surrounding area <a href="http://www.ohioalleycat.org/" target="_blank">Ohio Alley Cat</a> offers a great service. They provide free spay and neutering and vaccines. You many need to investigate a similar service in your area.</p>
    <ul>
        <li><h1>Here are some helpful links if you want to start trapping cats</h1></li>
        <li><a href="../static/pdfs/trapping instructions .pdf" target="_blank">Instructions on how to trap a cat.</a></li>
        <li><a href="../static/pdfs/trapping shy cats.pdf" target="_blank">How to trap a shy cat.</a></li>
        <li><a href="../static/pdfs/Cat-Shelter_317P.pdf" target="_blank">How to build cat shelters</a></li>
        <li><a href="../static/pdfs/Feeding Station.pdf" target="_blank">How to build a feeding station</a></li>
        <li><a href="../static/pdfs/Flyer TNR.pdf" target="_blank">Example Flyers if you want to try to get more to help.</a></li>
    </ul>
</div>
{% endblock %}