{% extends "layout.html" %}
{% block title %}
Thank you!
{% endblock %}
{% block main %}
<div class="cats-hero">
</div>
<div class="content">
    <h1>Looking to Adopt a Cat?</h1>
    <p>Are you looking to adopt a cat? While the majority of our cats are not suitably for adoption, we do have a small selection of cats that are suitable for adoption. The cats on this list are our friendliest cats that get along with others well. All cats that we adopt out come with full medical information and are up to date on all their shots. The process for adopting with us includes a person screening, as we want to make sure the cats are going to a good home, you will also get to spend time with the cat or cats you are looking at in a closed off area to see how well you get along. Below are the cats that are currently up for adoption.</p>
    <div class="cat-adopt-grid">
        <div class="item" data-title="Scout" data-secondary="Male" data-text="">
            <img src="../static/images/adopt/scout.webp" alt="Scout the cat" width="300px" height="auto">
        </div>
        <div class="item" data-title>
            <img src="../static/images/adopt/scout.webp" alt="Scout the cat" width="300px" height="auto">
        </div>
        <div class="item" data-title>
            <img src="../static/images/adopt/scout.webp" alt="Scout the cat" width="300px" height="auto">
        </div>
        <div class="item" data-title>
            <img src="../static/images/adopt/scout.webp" alt="Scout the cat" width="300px" height="auto">
        </div>
        <div class="item" data-title>
            <img src="../static/images/adopt/scout.webp" alt="Scout the cat" width="300px" height="auto">
        </div>
        <div class="item" data-title>
            <img src="../static/images/adopt/scout.webp" alt="Scout the cat" width="300px" height="auto">
        </div>
        <div class="item" data-title>
            <img src="../static/images/adopt/scout.webp" alt="Scout the cat" width="300px" height="auto">
        </div>
        <div class="item" data-title>
            <img src="../static/images/adopt/scout.webp" alt="Scout the cat" width="300px" height="auto">
        </div>
    </div>
    <div class="detail">
        <img />
      
        <div class="flip">
          <div class="title">Placeholder title</div>
          <div class="secondary">Placeholder secondary</div>
          <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cum, est amet delectus, blanditiis voluptatem laborum pariatur consequatur quae voluptate, nisi. Laborum adipisci iste earum distinctio, fugit, quas ipsa impedit.</div>
        </div>
    </div>
</div>
{% endblock %}