{% extends "layout.html" %}
{% block title %}
Cats
{% endblock %}
{% block main %}
<div class="cats-hero hero">
</div>
<div class="content">
    <h1>Looking to Adopt a Cat?</h1>
    <p>Are you looking to adopt a cat? While the majority of our cats are not suitably for adoption, we do have a small selection of cats that are suitable for adoption. The cats on this list are our friendliest cats that get along with others well. All cats that we adopt out come with full medical information and are up to date on all their shots. The process for adopting with us includes an in-person screening, as we want to make sure the cats are going to a good home, you will also get to spend time with the cat or cats you are looking at in a closed off area to see how well you get along. Below are the cats that are currently up for adoption. If you are interested in any of our current cats, please visit our contact page and send us a message and we will set up a meeting.</p>
    <div class="cat-adopt-grid">
        <div class="item" data-title="Scout" data-secondary="Male" data-text="Scout is a friendly middle age male cat that is looking for a good home. He knows how to use the litter box, and has no major medical issues. While he is friendly he might take a little bit to let his personality shine as he is a little skittish around new people. He will do fine in a single cat household, but will require a little bit more attention in that case. ">
            <img src="../static/images/adopt/scout.webp" alt="Scout the cat" width="500px" height="auto">
        </div>
        <div class="item" data-title="Beanca" data-secondary="Female" data-text="Beanca is a one of our younger cats. She is very friendly and enjoys getting pets and loves being brushed. She has no major medical issues and is healthy and playful. She is the happiest with other cats. She is perfect for a family with young kids or anyone else that can giver her lots of love and play time. She also likes having higher places to sit so she can watch over her new kingdom. ">
            <img src="../static/images/adopt/Beanca.webp" alt="Beanca the cat" width="500px" height="auto">
        </div>
        <div class="item" data-title="Charly" data-secondary="Male" data-text="Charly is a loving cat that will make a great company for any family. He is on the older side, but still has a lot of love left to give. He is perfect if you want a cat that is relatively low energy as while he does play, he is not nearly has hyper as a younger cat. He would really enjoy the company of another cat as he is very social.">
            <img src="../static/images/adopt/charly.webp" alt="Charly the cat" width="500px" height="auto">
        </div>
        <div class="item" data-title="Sherman" data-secondary="Male" data-text="Sherman is a friendly cat that needs a lot of love. He would do better with another cat to have as a friend. He requires a lot of brushing due to the his long hair. He loves to cuddle and would make a great pet for someone that can work from home. He likes playing with toys and laying in the sun. He is just waiting for a loving home to cuddle and live out his life.">
            <img src="../static/images/adopt/Sherman.webp" alt="Sherman the cat" width="500px" height="auto">
        </div>
        <div class="item" data-title="Farrah" data-secondary="Female" data-text="Farrah is a friendly female cat who Is on the older side. She can be a little on the feisty side when she wants to be alone but can also be very loving. She wants a quite home, with no other pets and no children. She also would do better if she had a place to hide. Overall, she would make a great cat for a quite home with low stress.">
            <img src="../static/images/adopt/Farrah.webp" alt="Farrah the cat" width="500px" height="auto">
        </div>
        <div class="item" data-title="Bethie Honey" data-secondary="Female" data-text="Bethie Honey is a female cat looking for a great quite home. She is a middle-aged cat with lots of life left in her. She likes to be close to people and would love to have a home where she can curl up on someone’s lap and nap. She would work the best in a single house cat with no other pets. She would do ok with older kids, but not very well with younger kids that might not giver her the space that she wants.">
            <img src="../static/images/adopt/Bethie_Honey.webp" alt="Bethie Honey the cat" width="500px" height="auto">
        </div>
    </div>
    <div class="detail">
        <img />
        <div class="flip">
          <div class="title"></div>
          <div class="secondary"></div>
          <div class="description"></div>
        </div>
    </div>
</div>
<div class="content">
    <h1>Want to learn more about the life of our cats?</h1>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/scripts/cat-gsap-flip.js"></script>
{% endblock %}