{% extends "layout.html" %}
{% block title %}
Contact Us!
{% endblock %}
{% block main %}
    <div class="hero">
        <img src="static/images/contact_page.webp" alt="Ziggy the cat">
        <h1 class="hero-text">Whats on your mind?</h1>
    </div>
    <div class="contact-wrapper">
        <h1>Got a question?</h1>
        <h2>You can get in touch with us on these platforms!</h2>
        <div class="button-wrapper">
            <button class="social-button" type="button"><i class="fa-brands fa-facebook"></i>Follow us on Facebook</button>
            <button class="social-button" type="button"><i class="fa-brands fa-twitter"></i>Drop us a Tweet</button>
            <button class="social-button" type="button"><i class="fa-brands fa-instagram"></i></i>For all your picture needs</button>
        </div>
    </div>
    <div class="form-wrapper">
        <form class="contact-form" action="/Contact" method="POST">
                <h2>or can ask it below!</h2>
                <div class="name-form">                
                    <input class="contact-name" type="text" name="contact-name" autocomplete="off" required>
                    <label for="contact-name" class="label-name">
                        <span class="content-name">Name</span>
                    </lable>
                </div><br>
                <div class="email-form">                
                    <input class="contact-email" type="email" name="email" autocomplete="off" required placeholder=" ">
                    <label for="contact-email" class="label-name">
                        <span class="content-name">Email</span>
                    </lable>
                </div><br>                
                <div class="subject-form">                
                    <input class="contact-subject" type="text" name="subject" autocomplete="off" required>
                    <label for="contact-subject" class="label-name">
                        <span class="content-name">Subject</span>
                    </lable>
                </div><br>
                <div class="text-form">                
                    <textarea name="message" class="contact-message" autocomplete="off" required></textarea>
                    <label for="contact-message" class="label-name">
                        <span class="content-name">Message</span>
                    </lable>
                </div><br>
                <input class="contact-form-button" type="submit"><br>
                <input class="contact-check" type="checkbox" value="yes" name="contact-check"> 
                <label for="contact-check">Click here if you want a copy of the message</lable>
        </form>
    </div>
{% endblock %}