{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block main %}
    <div class="hero">
        <img src="static/images/index_hero.webp" alt="Ziggy the cat">
        <h1 class="hero-text">Giving a safe space to cats for 11 years</h1>
    </div>
    <section class="content">
        <h2 class="headline">Our mission</h2>
        <p>Nisi veniam labore irure officia commodo dolore qui esse proident deserunt ad consequat est. Ad dolore adipisicing eu laboris labore est consequat irure quis proident enim consequat. Ipsum aliqua ad exercitation adipisicing ad reprehenderit duis mollit proident ad cupidatat. Duis laborum ea ut nisi. Occaecat dolore dolore aliqua et minim exercitation officia deserunt pariatur. Est culpa est nulla ad dolore deserunt aute irure commodo.Id voluptate est ullamco aute non minim enim ullamco qui aute exercitation. Consectetur et tempor quis fugiat do aliqua voluptate amet amet et elit labore laborum. Incididunt quis cupidatat voluptate cupidatat amet nostrud cupidatat non anim ipsum anim laborum id irure. Ipsum ad ipsum adipisicing cillum non dolore excepteur proident elit. Ex enim officia ut mollit nulla ad eiusmod mollit eu deserunt et eu. Qui consequat labore dolor minim Lorem deserunt deserunt aliqua sit ad nostrud.</p>
    </section>
    <figure class="mid-page-hero">
        <img class="mid-page-pic" src="static/images/boo.webp" alt="Boo the cat">
    </figure>
    <section class="content">
        <h2 class="headline">The Cats</h2>
        <p>Lorem irure minim dolor consequat proident culpa commodo aliqua cillum consectetur tempor. Et velit deserunt sint consequat aute velit ea esse consequat quis magna esse culpa. Consequat deserunt nulla quis aliqua et ullamco voluptate mollit nulla.Cillum laborum proident pariatur fugiat duis. Laboris incididunt Lorem officia ullamco reprehenderit elit officia nisi quis dolore amet. Id sint ad sunt tempor exercitation officia qui ullamco ad eiusmod fugiat officia commodo consectetur.</p>
        <div class="card-holder">
            <div class="card">
                <div class="card-body">
                    <div class="card-front">
                        <img src="static/images/ziggy.webp">
                    </div>
                    <div class="card-back">
                        <h1>test</h1>
                        <p>Minim proident ipsum fugiat duis exercitation eiusmod proident. Velit non dolor aliqua est Lorem exercitation adipisicing sint minim proident. Mollit exercitation voluptate mollit consequat anim culpa elit eu deserunt officia quis incididunt ullamco deserunt. Veniam dolore esse incididunt consectetur pariatur commodo ad aliquip minim sint. Excepteur ipsum Lorem qui cupidatat duis consequat sunt velit est.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <h2 class="headline">How you can help!</h2>
        <p>In ipsum aliquip laboris mollit laboris cillum reprehenderit velit officia quis. Enim ea voluptate enim consectetur in sint qui fugiat exercitation magna cupidatat consequat proident labore. Consectetur sint magna Lorem ullamco.</p>
    </section>
{% endblock %}