{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block main %}
    <div class="index-img-1">
    </div>
    <section class="content" id="section-1">
        <div id="index-content-1">
            <h2 class="headline">Our mission</h2>
            <p>Nisi veniam labore irure officia commodo dolore qui esse proident deserunt ad consequat est. Ad dolore adipisicing eu laboris labore est consequat irure quis proident enim consequat. Ipsum aliqua ad exercitation adipisicing ad reprehenderit duis mollit proident ad cupidatat. Duis laborum ea ut nisi. Occaecat dolore dolore aliqua et minim exercitation officia deserunt pariatur. Est culpa est nulla ad dolore deserunt aute irure commodo.Id voluptate est ullamco aute non minim enim ullamco qui aute exercitation. Consectetur et tempor quis fugiat do aliqua voluptate amet amet et elit labore laborum. Incididunt quis cupidatat voluptate cupidatat amet nostrud cupidatat non anim ipsum anim laborum id irure. Ipsum ad ipsum adipisicing cillum non dolore excepteur proident elit. Ex enim officia ut mollit nulla ad eiusmod mollit eu deserunt et eu. Qui consequat labore dolor minim Lorem deserunt deserunt aliqua sit ad nostrud.</p>
            <p>Nisi veniam labore irure officia commodo dolore qui esse proident deserunt ad consequat est. Ad dolore adipisicing eu laboris labore est consequat irure quis proident enim consequat. Ipsum aliqua ad exercitation adipisicing ad reprehenderit duis mollit proident ad cupidatat. Duis laborum ea ut nisi. Occaecat dolore dolore aliqua et minim exercitation officia deserunt pariatur. Est culpa est nulla ad dolore deserunt aute irure commodo.Id voluptate est ullamco aute non minim enim ullamco qui aute exercitation. Consectetur et tempor quis fugiat do aliqua voluptate amet amet et elit labore laborum. Incididunt quis cupidatat voluptate cupidatat amet nostrud cupidatat non anim ipsum anim laborum id irure. Ipsum ad ipsum adipisicing cillum non dolore excepteur proident elit. Ex enim officia ut mollit nulla ad eiusmod mollit eu deserunt et eu. Qui consequat labore dolor minim Lorem deserunt deserunt aliqua sit ad nostrud.</p>
        </div>
    </section>
    <div class="index-img-2">
    </div>
    <section class="content" id="section-2">
        <div id="index-content-2">
            <h2 class="headline">The Cats</h2>
            <p>Lorem irure minim dolor consequat proident culpa commodo aliqua cillum consectetur tempor. Et velit deserunt sint consequat aute velit ea esse consequat quis magna esse culpa. Consequat deserunt nulla quis aliqua et ullamco voluptate mollit nulla.Cillum laborum proident pariatur fugiat duis. Laboris incididunt Lorem officia ullamco reprehenderit elit officia nisi quis dolore amet. Id sint ad sunt tempor exercitation officia qui ullamco ad eiusmod fugiat officia commodo consectetur.</p>
            <div class="card-holder">
                <div clas="cat-card" data-title="test" data-secondary="meow" data-text="In ipsum aliquip laboris mollit laboris cillum reprehenderit velit officia quis. Enim ea voluptate enim consectetur in sint qui fugiat exercitation magna cupidatat consequat proident labore. Consectetur sint magna Lorem ullamco">
                    <img src="../static/images/test_card_small.webp">
                </div>
                <div clas="card_test">
                    <img src="../static/images/test_card_small.webp">
                </div>
                <div clas="card_test">
                    <img src="../static/images/test_card_small.webp">
                </div>
                <div clas="card_test">
                    <img src="../static/images/test_card_small.webp">
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <h2 class="headline">How you can help!</h2>
        <p>In ipsum aliquip laboris mollit laboris cillum reprehenderit velit officia quis. Enim ea voluptate enim consectetur in sint qui fugiat exercitation magna cupidatat consequat proident labore. Consectetur sint magna Lorem ullamco.</p>
    </section>
    <script src="../static/scripts/index-scripts.js"></script>
{% endblock %}