{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block head %}
    <meta name="description" content="Home page">
{% endblock %}
{% block main %}
    <div class="index-img-1 hero"> </div>
    <section class="quick-links">
        <div class="cats">
            <a href="/Cats">
                <h1>Cats</h1>
                <p>Learn about our furry friends</p>
            </a>
        </div>
        <div class="volunteer">
            <a href="/Volunteer">
                <h1>How you can help</h1>
                <p>Learn about how you can help our furry friends</p>
            </a>
        </div>
        <div class="about">
            <a href="/About">
                <h1>Our misson</h1>
                <p>Learn about our furry friends</p>
            </a>
        </div>
    </section>
    <section class="content" id="section-1">
        <div class="content-inner" id="index-content-1">
            <h1>Our Mission</h1>
            <p>We believe that every cat should have a chance to at a good life. Wither that is giving a feral cat a new home with a loving family, or a great life within our sanctuary. On top of giving these cats a great home, we wanted to offer the opportunity to give the public a chance to feel the joy that comes with helping change an animal’s life for the better. We also strive to educate the public on how to properly deal with feral cats via trapping and fixing said cats. </p>
            <div class="index-grid">
                <div class="spay-neuter-img"></div>
                <div class="spay-content">
                    <h2>Total cats spayed or neutered this year:&nbsp;<span class="counter" id="spaycounter" data-target="200"></span></h2>
                    <p>Spaying and neutering cats is one of the best ways to help control the population of cats and other animals. It is a human way of making sure that they do not reproduce. This not only helps to reduce the number of feral cats around, but also helps to protect other wildlife from the cats. We offer a free service for spaying and neutering cats. You can find out more <a href="/About">here</a>.</p>
                </div>
            </div>
            <div class="index-grid">
                <div class="adopt-content">
                    <h2>Total cats adopted this year:&nbsp;<span class="counter" id="adoptcounter" data-target="30"></span></h2>
                    <p>While the vast majority of our cats are not suitably for adoption, we do get some that would just love to find a loving family. For a small fee, to help cover some of our operating cost you can bring home your own furry friend. You can find a little about the cats that we have open for adoption <a href="/Cat">here</a>.</p>
                </div>
                <div class="adopt-img"></div>
            </div>
        </div>
    </section>
    <div class="index-img-2">
        <div class="hero-text">
            <h1><q>The phrase "domestic cat" is an oxymoron.</q> – George Will</h1>
        </div>
    </div>
    <section class="content" id="section-2">
        <div id="index-content-2">
            <h2 class="headline">The Cats</h2>
            <div class="index-grid">
                <div class="cats-img"></div>
                <div class="cats-content">
                    <p>All one hundred of our cats have been either trapped by volunteers or give to us by the public or other shelters. All our cats are fixed and are up to date on all their shots. We provide a safe space for our cats to live where they have all the food and water they need. We try our best to get the cats suitable for adoption good homes. You can find more information about what we do for our cats, and see the current cats up for adoption <a href="/Cat#about_cats">here</a>.</p>
                </div>
            </div>
    </section>
    <div class="index-img-3"></div>
    <section class="content" id="section-3">
        <h1>Sanctuary News and Updates</h1>
        <div class="index-grid">
            <div class="news-left">
                <h2>A look into the sanctuary</h2>
                <div class="news-slideshow">
                    <div class="news-slide">
                        <img src="../static/images/index/slideshow/news_slide1.webp" height="300px" width="300px" alt="two cats laying on a house">
                        <span>Two cats laying around on a house</span>
                    </div>
                    <div class="news-slide">
                        <img src="../static/images/index/slideshow/news_slide2.webp" height="300px" widht="300px" alt="Someone helping to build a new addition">
                        <span>A volunteer building our new addition</span>
                    </div>
                    <div class="news-slide">
                        <img src="../static/images/index/slideshow/news_slide3.webp" height="300px" widht="300px" alt="A cat in a cat tree">
                        <span>A cat enjoying a cat tree someone donated</span>
                    </div>
                    <div class="news-slide">
                        <img src="../static/images/index/slideshow/news_slide4.webp" height="300px" width="300px"
                        alt="cat feeding station">
                        <span>Cats Eating at one of our feeding stations</span>
                    </div>
                    <div class="news-slide">
                        <img src="../static/images/index/slideshow/news_slide5.webp" height="300px" width="300px"
                        alt="one of many shelters for the cats">
                        <span>Addition to the sanctuary done.</span>
                    </div>
                    <div class="news-slide">
                        <img src="../static/images/index/slideshow/news_slide6.webp" height="300px" width="300px"
                        alt="a cat hiding from the heat">
                        <span>A cat sleeping in one of the new houses.</span>
                    </div>
                    <a class="prev" onclick="changeslide(-1)">&#10094</a>
                    <a class="next" onclick="changeslide(1)">&#10095</a>
                </div>
            </div>
            <div class="news-right">
            <h1>News</h1>
            <div class="news-story"></div>
            fasdfasdf
            </div> 
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script src="../static/scripts/index-scripts.js"></script>
{% endblock %}
