{% extends "layout.html" %}
{% block title %}
Thank you!
{% endblock %}
{% block main %}
<div class="thanks-page-wrapper">
    <h1>Thanks for the help!</h1>
    <figure class="thanks-img-wrapper">
        <img class="thanks-img" src="../static/images/thank_you_page.webp" width="1400px" height="auto" alt="A thank you picture">
    </figure>
    <p>You will be redirected in <span id="countdown"></span> seconds</p>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/scripts/thanks.js"></script>
{% endblock %}